* {
    margin: auto;
    text-align: center;
}
#new-task-btn {
    margin: auto;
    margin-top: 20px;
}
h1 {
    padding: 20px;
    text-align: center;
}
.hidden {
    display: none;
}
.task-div {
    display: flex;
    width: 500px;
}
.task-sub-div {
    flex: 1 1 0;
}
#clear-storage-btn {
    bottom: 0;
    position: absolute;

}