@import url('https://fonts.googleapis.com/css2?family=Architects+Daughter&display=swap');

* {
    background-color: #F0E9E9;
    /* color:#705D5C; */
    border-color:#A38786;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin: auto;
    text-align: center;
    transition-property: all;
    transition-duration: .6s;
    transition-timing-function: ease;


}
div {
    background: transparent;
}
h1 {
    color:#5E4E4D;
    font-family: "Architects Daughter", cursive;
    font-size:3.5em;
    float: left;
    margin: 0% 0 0% 8%;
    width:max-content;
}
h2 {
    color:#63364E;
    font-family: "Architects Daughter", cursive;
    font-size: 2em;
    margin-bottom: 20px;
}
h3 {
    font-family:"Architects Daughter", cursive;
    background-color: transparent;
    margin: 0% 0% 1% 0%;
}
input, select{
    background-color: white;
    margin: 0% 0% 1% 0%;
}
label {
    background-color: transparent;
}

.edit-date-div, .task-description-input, .task-categories-select, .task-priorities-select, .task-projects-select, .task-notes-input, .task-form-input {
    border:none;
    border-radius: 25px;
    -moz-box-shadow: 1px 2px 3px rgba(0,0,0,.5);
    -webkit-box-shadow: 1px 2px 3px rgba(0,0,0,.5);
    box-shadow: 1px 2px 3px rgba(0,0,0,.5);
}

.category-div {
    padding-bottom: 10px;
}
.completed {
    color: #63364E;
}
.del-item-btn {
    display: inline-block;
    width: 10%;
}
.delete-btn {
    border: none;
    background: transparent;
 
}
.description-label {
    grid-area: a;
}
.dropdown {
    background-color:#A39886;
    float: left;
    /* margin:unset; */
    padding: 5px 5px 5px 5px;
}
.dropdown-btn {
    background-color:#A39886;
    border: none;
    color: white;
    font-size: 16px;
    /* margin: unset; */
    padding: 5px 0px 5px 0px;
    width: 100%;
}
.edit-date-div {
    border:none;
    border-radius: 25px;
    -moz-box-shadow: 1px 2px 3px rgba(0,0,0,.5);
    -webkit-box-shadow: 1px 2px 3px rgba(0,0,0,.5);
    box-shadow: 1px 2px 3px rgba(0,0,0,.5);
}
.expand-btn {
    border: none;
    margin-right: 10px;
}
.fa-caret-square-down {
    color:#9E8382;
}
.fa-times {
    background: transparent;
    float: right;
    right: 5%;
    position:fixed;
    top: 5%;
}
.fa-times::before {
    float:right;
    position: fixed;
    right: 5%;
    top: 5%;
}
.fa-trash-alt {
    color:#574847;
}
.form {
    /* background-color:#CADBDA; */
    /* background-color:#A18192; */
    /* background-color:#D4BCBA; */
    background-color:#AFCCBD;
    padding: 1% 1% 1% 1%;
    position:absolute;
    left: 50%;
    top: 30%;
    transform: translate(-50%, 0);
    width: 60%;
    z-index: 1001;
}
.form-btn {
    background-color: white;
    margin: 2% 0% 1% 0%;
}
.hidden {
    display: none;
}
.inset-text {
    background-color: #dddcdc;
    color: transparent;
    text-shadow: 2px 2px 3px rgba(255,255,255,0.5);
    -webkit-background-clip: text;
        -moz-background-clip: text;
            background-clip: text;
}
.list-child {
    background-color: white;
    padding-left: 0px;
}
.list-item {
    background-color: white;
    border:none;
    display: inline-block;
    font-family: "Architects Daughter", cursive;
    font-size: x-large;
    /* margin-right: 0px !important; */
    right: 0px;
    text-align: left;
    width: max-content;
}
.list-item-div {
    background-color: white;
    font-size: large;
    list-style-type: none;
    margin: none;
    padding-bottom: 1%;
    padding-top: 1%;
    width: 90%;
}
.list-item::after {
    content: '';
    display: block;
    margin-left: -5%;
    width: 90%;
    border-bottom: ridge;
}
.menu {
    background-color: transparent;
    margin: unset;
}
.menu-btn {
    background-color: #A38786;
    border: none;
    color: white;
    font-size: large;
    height: 50px;
    margin: unset;
    text-align:center;
    text-transform: uppercase;
    text-decoration: none;
}
.menu-btn:hover,
.menu-btn:active {
    letter-spacing: 5px;
}
.notes-label {
    grid-area: i;
}
.pop-up {
    background-color: white;
    border: solid;
    padding: 3% 2% 8% 2%;
    position: absolute;
    width:380px;
    left: 50%;
    transform: translate(-50%, 0);
}
.side-btn {
    background-color:transparent;
    border: solid;
    border-color: #705D5C;
    border-radius: 50%;
    color: #63364E;
    width: 60px;
    height: 60px;
}
.task-basic-div {
    display: flex;
    width: 500px;
}
.task-description-input {
    grid-area: b;
}
.task-detail-child {
    color: black !important;
}
.task-detail-div {
    display: grid !important;
    grid-template:
    "a a b b b b"
    "c d e f g h"
    "i i j j j j";
    width: 500px;
}
.task-div {
    margin-bottom: 10px;
}
.task-name {
    background-color: transparent;
    border:none;
    font-size: large;
    font-weight: bold;
}
.task-name:focus-visible {
    outline: none;
}
.task-notes-input {
    grid-area: j;
}
.task-subdiv {
    flex: 1 1 0;
}

#add-item-btn {
    background: transparent;
    border: none;
    bottom: 8%;
    font-family: "Architects Daughter", cursive;
    font-size:x-large;
    left: 50%;
    margin: auto;
    position:fixed;
    transform: translateX(-50%);
}
#add-item-form {
    background-color: transparent;
}
#circle-cat {
    display: block;
    height: 60px;
    width: 60px;
}
#circle-cat span {
    font-family:Arial, Helvetica, sans-serif;
    font-size:14px;
    font-weight:regular;
    font-style:normal;
    line-height:0.65;
    white-space:pre;
    overflow:visible;
    padding:0px;
}
#circle-cat span[class^=w]:nth-of-type(n+0){
    display:block;
    position:absolute;
    -moz-transform-origin:50% 100%;
    -webkit-transform-origin:50% 100%;
    -o-transform-origin:50% 100%;
    -ms-transform-origin:50% 100%;
    transform-origin:50% 100%;
}
#content {
    margin: auto;
}
#description-field, #notes-field {
    width:90%;
}
#description-label, #notes-label {
    margin-left: 0px;
    text-align:left;
}
#filter {
    background-color: black;
    height: 100%;
    opacity: 0.2;
    position:absolute;
    top: 0;
    width: 100%;
    z-index: 1000;
}
#exit-popup-btn {
    border: none;
}
#list {
    padding-left: none;
}
#menu-bar {
    background-color:#A38786;
    color: white;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    height: 50px;
    margin: 10px 0px 10px 0px;
    position: relative;
    width: 100%;
    z-index: 5;
}
#new-task-btn {
    color:white;
    font-size: 1.25em;
    font-weight: bold;
} 
#view-categories-btn {
    position:absolute;
    right: 2%;
    top: 30%;
}
#view-completed-btn {
    position:absolute;
    right: 2%;
    top: 21%;
}
#view-label::after {
    display:none;
}
#view-label {
    margin: auto;
    text-align: center; 
    margin-top: 4px;
    width: 80px;
}
#view-options {
    font-size: 14px;
}
#view-label, #view-options {
    height: 25px;
}
